Repository Li-Zhaoxi/OpenWanderary: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, black, flake8

clang-format:
  name: ClangFormat
  entry: clang-format
  language: system
  args:
  - --style=file
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-build/header_guard
  - --includeorder=standardcfirst

end-of-file-fixer:
  name: FixEndOfFile
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: TrimTrailingWhitespace
  entry: trailing-whitespace-fixer
  language: system

check-docstring-first:
  name: Check docstring first
  entry: check-docstring-first
  language: system

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - -r
  - --remove-all-unused-imports
  - --ignore-init-module-imports
  - --remove-unused-variables
  - --expand-star-imports
  - --in-place

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black -l 79
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Finish ut for checking model properties
  .gitattributes
  tests/test_data/dnn/yolov8n_detect_bayese_640x640_nv12_properties.json
  tests/wanderary/dnn/test_bpu_infer.cpp
  wanderary/dnn/bpu_core.cpp
  wanderary/dnn/bpu_core.h
  wanderary/dnn/bpu_nets.cpp
  wanderary/dnn/bpu_nets.h
  wanderary/testing/data_checking.cpp
  wanderary/testing/data_checking.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Finish ut for bpunets
  .gitattributes
  .gitignore
  tests/test_data/dnn/zidane_input_tensor.bin
  tests/wanderary/dnn/test_bpu_infer.cpp
  tests/wanderary/media/test_codec.cpp
  wanderary/dnn/bpu_core.cpp
  wanderary/dnn/bpu_core.h
  wanderary/dnn/bpu_nets.cpp
  wanderary/dnn/bpu_nets.h
  wanderary/python/dnn.cpp
  wanderary/python/py_main.cpp
  wanderary/python/wdr.h
  wanderary/testing/data_checking.cpp
  wanderary/testing/data_checking.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Finish ut for full interface
  tests/python/test_wdr_dnn.py
  tests/test_data/process/yolov8_gt_box2ds.json
  tests/wanderary/process/CMakeLists.txt
  tests/wanderary/process/test_postprocessors.cpp
  wanderary/dnn/bpu_nets.cpp
  wanderary/dnn/bpu_nets.h
  wanderary/process/process_base.cpp
  wanderary/process/process_base.h
  wanderary/process/process_utils.h
  wanderary/process/processors/convert_yolo_feature.cpp
  wanderary/process/processors/convert_yolo_feature.h
  wanderary/python/CMakeLists.txt
  wanderary/python/dnn.cpp
  wanderary/python/impl/wdr.hpp
  wanderary/python/process.cpp
  wanderary/python/py_main.cpp
  wanderary/python/structs.cpp
  wanderary/python/testing.cpp
  wanderary/python/wdr.cpp
  wanderary/python/wdr.h
  wanderary/structs/box.cpp
  wanderary/testing/CMakeLists.txt
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Remove old DNN module
  examples/BPU/CMakeLists.txt
  wanderary/CMakeLists.txt
  wanderary/DNN/CMakeLists.txt
  wanderary/DNN/postproc.cpp
  wanderary/DNN/postproc.h
  wanderary/DNN/preproc.cpp
  wanderary/DNN/preproc.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Add data loader to read image list
  CMakeLists.txt
  tests/python/test_wdr_data_loader.py
  tests/wanderary/CMakeLists.txt
  tests/wanderary/data_loader/CMakeLists.txt
  tests/wanderary/data_loader/test_base_loader.cpp
  tests/wanderary/utils/test_file_io.cpp
  wanderary/Device/tello.h
  wanderary/data_loader/CMakeLists.txt
  wanderary/data_loader/base_dataset.cpp
  wanderary/data_loader/base_dataset.h
  wanderary/data_loader/data_loader.cpp
  wanderary/data_loader/data_loader.h
  wanderary/data_loader/data_manager.h
  wanderary/data_loader/datasets/simple_image_set.cpp
  wanderary/data_loader/datasets/simple_image_set.h
  wanderary/python/CMakeLists.txt
  wanderary/python/data_loader.cpp
  wanderary/python/py_main.cpp
  wanderary/python/wdr.h
  wanderary/structs/meta_structs.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Finish dataloader and add a sample to test 50 images
  CMakeLists.txt
  config/stat_yolov8_time_cfg.yaml
  config/stat_yolov8_time_inputs.yaml
  examples/CMakeLists.txt
  examples/dnn/CMakeLists.txt
  examples/dnn/stat-dnn-time-consumption.cpp
  wanderary/CMakeLists.txt
  wanderary/Core/math.h
  wanderary/data_loader/CMakeLists.txt
  wanderary/data_loader/base_dataset.h
  wanderary/data_loader/data_loader.cpp
  wanderary/data_loader/data_loader.h
  wanderary/data_loader/datasets/simple_image_set.cpp
  wanderary/data_loader/datasets/simple_image_set.h
  wanderary/process/process_base.cpp
  wanderary/structs/box.cpp
  wanderary/structs/box.h
  wanderary/utils/CMakeLists.txt
  wanderary/utils/impl/yaml_utils.hpp
  wanderary/utils/time_manager.cpp
  wanderary/utils/time_manager.h
  wanderary/utils/yaml_utils.cpp
  wanderary/utils/yaml_utils.h
  wanderary/visualization/CMakeLists.txt
  wanderary/visualization/draw_boxes.cpp
  wanderary/visualization/draw_boxes.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Perfect time manager and process manager
  wanderary/process/process_base.cpp
  wanderary/process/process_base.h
  wanderary/utils/file_io.cpp
  wanderary/utils/time_manager.cpp
  wanderary/utils/time_manager.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Add ImageCropROIs and its unit test
  tests/test_data/utils/street.jpg
  tests/wanderary/utils/test_convertor.cpp
  wanderary/testing/data_checking.cpp
  wanderary/testing/data_checking.h
  wanderary/utils/convertor.cpp
  wanderary/utils/convertor.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Make yolo easier to use
  CMakeLists.txt
  build_3rdpary.sh
  examples/BPU/CMakeLists.txt
  examples/dnn/CMakeLists.txt
  tests/test_data/apps/yolov8_config.json
  tests/test_data/models/download_models.sh
  tests/wanderary/CMakeLists.txt
  tests/wanderary/apps/CMakeLists.txt
  tests/wanderary/apps/test_yolov8.cpp
  wanderary/CMakeLists.txt
  wanderary/apps/CMakeLists.txt
  wanderary/apps/yolo.cpp
  wanderary/apps/yolo.h
  wanderary/data_loader/data_loader.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Add box2d drawer
  .gitattributes
  .gitignore
  .vscode/settings.json
  tests/test_data/tiny_coco/type_names.json
  tests/test_data/utils/street_box2d_gt.json
  tests/wanderary/apps/CMakeLists.txt
  tests/wanderary/apps/test_yolov8.cpp
  wanderary/visualization/color_mcap.cpp
  wanderary/visualization/color_mcap.h
  wanderary/visualization/draw_boxes.cpp
  wanderary/visualization/draw_boxes.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Finish the tool: stat-dnn-time-consumption
  .gitmodules
  CMakeLists.txt
  build_3rdpary.sh
  config/stat_yolov8_large_images_time_inputs.yaml
  config/stat_yolov8_time_cfg.yaml
  config/stat_yolov8_time_inputs.yaml
  examples/dnn/CMakeLists.txt
  examples/dnn/stat-dnn-time-consumption.cpp
  wanderary/utils/path.cpp
  wanderary/utils/path.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Perfect the tool: stat-dnn-time-consumption
  config/stat_yolov8_large_images_time_cfg.yaml
  config/stat_yolov8_large_images_time_inputs.yaml
  config/stat_yolov8_time_inputs.yaml
  examples/dnn/stat-dnn-time-consumption.cpp
  tests/test_data/apps/yolov8_config.json
  wanderary/process/process_base.cpp
  wanderary/process/process_base.h
  wanderary/process/process_utils.h
  wanderary/process/processors/format_image.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Fix config bugs
  config/stat_yolov8_large_images_time_cfg.yaml
  tests/python/test_wdr_dnn.py
  tests/test_data/apps/yolov8_config.json
Due: end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Fix cmake bugs to make it usable in other projects
  CMakeLists.txt
  cmake/pack_3rdparty.cmake
  cmake/wdr-config.cmake.in
  examples/BPU/CMakeLists.txt
  examples/dnn/CMakeLists.txt
  wanderary/BPU/CMakeLists.txt
  wanderary/apps/CMakeLists.txt
  wanderary/dnn/CMakeLists.txt
  wanderary/structs/CMakeLists.txt
Due: end-of-file-fixer, trailing-whitespace

Add build wheel config in cmake
  cmake/py-config.yaml
  setup.py
  test_math.py
  wanderary/python/CMakeLists.txt
Due: end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Bind yolov8 and drawer2d into python
  setup.py
  tests/python/test_wdr_apps.py
  wanderary/python/CMakeLists.txt
  wanderary/python/apps.cpp
  wanderary/python/py_main.cpp
  wanderary/python/utils.cpp
  wanderary/python/visualization.cpp
  wanderary/python/wdr.cpp
  wanderary/python/wdr.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Fix bugs in setup.py
  setup.py
Due: end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Add test for eigen auto
  tests/wanderary/utils/test_math.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Add box2d in frame struct
  wanderary/structs/frame.cpp
  wanderary/structs/frame.h
  wanderary/structs/meta_structs.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Fix requeirement packages
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

Add submodule and perfect Readme
  .gitmodules
  README.md
Due: end-of-file-fixer, trailing-whitespace

Add mcap_builder and link waymo protos
  .gitmodules
  3rdparty/mcap_builder/CMakeLists.txt
  3rdparty/mcap_builder/cmake/mcap-config.cmake.in
  3rdparty/mcap_builder/cmake/pack_3rdparty.cmake
  3rdparty/mcap_builder/cmake_uninstall.cmake.in
  README.md
  build_3rdpary.sh
Due: end-of-file-fixer, trailing-whitespace

Add functions in wdr utils
  tests/wanderary/utils/test_path.cpp
  wanderary/utils/path.cpp
  wanderary/utils/path.h
  wanderary/utils/time_manager.cpp
  wanderary/utils/time_manager.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Finish mcap writer, it will be used to save various data
  3rdparty/mcap_builder/CMakeLists.txt
  3rdparty/mcap_builder/src/CMakeLists.txt
  3rdparty/mcap_builder/src/lib.cpp
  CMakeLists.txt
  cmake/convert_protos.cmake
  tests/wanderary/CMakeLists.txt
  tests/wanderary/io/CMakeLists.txt
  tests/wanderary/io/test_mcap_io.cpp
  wanderary/CMakeLists.txt
  wanderary/io/CMakeLists.txt
  wanderary/io/impl/mcap_writer.hpp
  wanderary/io/mcap_writer.cpp
  wanderary/io/mcap_writer.h
  wanderary/io/msg_convertor/foxglove.cpp
  wanderary/io/msg_convertor/foxglove.h
  wanderary/io/msg_convertor/protobuf.cpp
  wanderary/io/msg_convertor/protobuf.h
  wanderary/schemas/CMakeLists.txt
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Add waymo evaluation support
  CMakeLists.txt
  build_3rdpary.sh
  wanderary/CMakeLists.txt
  wanderary/evaluation/CMakeLists.txt
Due: end-of-file-fixer, trailing-whitespace

Add mcap reader and writer, and add their unit tests
  tests/wanderary/io/test_mcap_io.cpp
  wanderary/io/mcap_reader.cpp
  wanderary/io/mcap_reader.h
  wanderary/io/mcap_writer.cpp
  wanderary/io/msg_convertor/foxglove.cpp
  wanderary/io/msg_convertor/foxglove.h
  wanderary/io/msg_convertor/protobuf.cpp
  wanderary/io/msg_convertor/protobuf.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Perfect the makefile
  Makefile
Due: end-of-file-fixer, trailing-whitespace

Add absl and tfrecord protos
  .gitmodules
  CMakeLists.txt
  README.md
  build_3rdpary.sh
  cmake/convert_protos.cmake
  tests/wanderary/utils/test_common.cpp
  wanderary/io/CMakeLists.txt
  wanderary/schemas/CMakeLists.txt
  wanderary/schemas/tensorflow/example.proto
  wanderary/schemas/tensorflow/feature.proto
  wanderary/utils/CMakeLists.txt
  wanderary/utils/common_utils.cpp
  wanderary/utils/common_utils.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Change labelid to Label class in Box2D
  examples/dnn/stat-dnn-time-consumption.cpp
  wanderary/io/CMakeLists.txt
  wanderary/io/msg_convertor/foxglove.h
  wanderary/io/msg_convertor/protobuf.h
  wanderary/process/processors/convert_yolo_feature.cpp
  wanderary/python/CMakeLists.txt
  wanderary/python/structs.cpp
  wanderary/structs/box.cpp
  wanderary/structs/box.h
  wanderary/visualization/draw_boxes.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Perfect make rely
  Makefile
  README.md
  examples/dnn/stat-dnn-time-consumption.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Perfect frame structs and add mcap convertor
  tests/test_data/process/yolov8_gt_box2ds.json
  tests/test_data/utils/street_box2d_gt.json
  wanderary/io/CMakeLists.txt
  wanderary/io/mcap_writer.cpp
  wanderary/io/mcap_writer.h
  wanderary/io/msg_convertor/foxglove.cpp
  wanderary/io/msg_convertor/foxglove.h
  wanderary/io/msg_convertor/open_waymo_dataset.cpp
  wanderary/io/msg_convertor/open_waymo_dataset.h
  wanderary/python/io.cpp
  wanderary/python/py_main.cpp
  wanderary/python/structs.cpp
  wanderary/python/wdr.h
  wanderary/structs/box.cpp
  wanderary/structs/enums.h
  wanderary/structs/frame.cpp
  wanderary/structs/frame.h
  wanderary/structs/meta_structs.cpp
  wanderary/testing/data_checking.cpp
  wanderary/testing/data_checking.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace

Finish parse waymo from mcap and write images to mcap
  tools/waymo_dataset_to_foxglove.py
  wanderary/io/mcap_reader.cpp
  wanderary/io/mcap_reader.h
  wanderary/io/mcap_writer.cpp
  wanderary/io/mcap_writer.h
  wanderary/io/msg_convertor/open_waymo_dataset.cpp
  wanderary/python/io.cpp
  wanderary/python/structs.cpp
  wanderary/python/wdr.h
  wanderary/structs/frame.cpp
  wanderary/structs/frame.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Finish writing box2d into mcap
  .gitmodules
  .vscode/c_cpp_properties.json
  tools/waymo_dataset_to_foxglove.py
  wanderary/io/CMakeLists.txt
  wanderary/io/mcap_writer.cpp
  wanderary/io/mcap_writer.h
  wanderary/io/msg_convertor/foxglove.cpp
  wanderary/io/msg_convertor/foxglove.h
  wanderary/python/io.cpp
  wanderary/schemas/CMakeLists.txt
  wanderary/structs/box.cpp
  wanderary/structs/box.h
  wanderary/structs/frame.cpp
  wanderary/structs/frame.h
  wanderary/visualization/color_mcap.cpp
  wanderary/visualization/color_mcap.h
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Add checker logs for yolo post-process
  setup.py
  tools/construct_calibration_files.py
  wanderary/process/processors/convert_yolo_feature.cpp
Due: clang-format, cpplint, end-of-file-fixer, trailing-whitespace, check-docstring-first, autoflake, isort, flake8

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp)$, but not: .*.bin$|.*.jpg$|.*.json$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp)$, but not: .*.bin$|.*.jpg$|.*.json$
  end-of-file-fixer: any of: not (^.*.jpeg|^.*.jpg|^.*.png|^.*.json), but not: .*.bin$|.*.jpg$|.*.json$
  trailing-whitespace: any of: not (^.*.jpeg|^.*.jpg|^.*.png), but not: .*.bin$|.*.jpg$|.*.json$
  check-docstring-first: any of: \.py$, but not: .*.bin$|.*.jpg$|.*.json$
  autoflake: any of: \.py$, but not: .*.bin$|.*.jpg$|.*.json$
  isort: any of: \.py$, but not: .*.bin$|.*.jpg$|.*.json$
  black: any of: \.py$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (.*.bin$|.*.jpg$|.*.json$)
  flake8: any of: \.py$, but not: .*.bin$|.*.jpg$|.*.json$
